    /* backgrounds */

    $primary_background: #F4EFFE;
    $secondary_background: #E9DFFC;
    $btn_background: #E9DFFC;
    
    /* text_color */
    
    $primary_color: #292929;
    $btn_color: #784DC7;
    
    /* font_size */
    
    $primary_font_size: 16px;
    $secondary_font_size: 20px;
    
    /* border */

    $border_color: #925FF0;